// 重置padding-top
.bp-navbarView .bp-navbarView_page > div.wrapper {
  padding-top: 0;
}

.bp-swiperPagination {
  text-align: center;

  &.swiper-pagination-bullets {
    .swiper-pagination-bullet {
      margin: 0 2px;
      width: 6px;
      height: 6px;
    }
  }

  .swiper-pagination-bullet {
    background-color: #898587;
    &-active {
      background-color: $--background-color-success;
    }
  }
}

.bp-toast .bp-widget__content {
  min-height: auto;
}
