/*
 * @Description: In User Settings Edit
 * @Author: lanck.XIE
 * @Date: 2019-05-29 10:34:44
 * @LastEditTime: 2019-08-07 18:08:45
 * @LastEditors: Please set LastEditors
 */
// flex布局常用类
.flex_r {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  //align-items
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  //justify-content:
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex_r_n {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  //align-items
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex_c {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  //纵向
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;


  //align-items
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  //justify-content:
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex_c_n {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  //纵向
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  //justify-content:
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

// 常用字号
.font12 {
  font-size: 12px !important;
}

.font14 {
  font-size: 14px !important;
}

.font16 {
  font-size: 16px !important;
}

.font18 {
  font-size: 18px !important;
}

.font24 {
  font-size: 24px !important;
}

//常用margin
.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

//常用padding
.pl5 {
  padding-left: 10px;
}

.pl10 {
  padding-left: 10px;
}

.pl20 {
  padding-left: 20px;
}

.pl30 {
  padding-left: 30px;
}

// 其他特殊
.cur_P {
  cursor: pointer;
}
.text_right{
  text-align: right;
}
// transition
//点击波纹效果
.tran_cor {
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 10vw;
    height: 10vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    pointer-events: none;
    //设置径向渐变
    background-image: radial-gradient(ellipse, #999 10%, rgba(111, 111, 111, 0.5) 50%, rgba(0, 0, 0, 0)100%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
  }

  &:active:after {
    transform: scale(0, 0);
    opacity: 0.3;
    //设置初始状态
    transition: 0s;
  }

}

.tran_lazy {
  transition: all .8s .7s cubic-bezier(0.600, 0.045, 0.165, 1.000);
}

//  <transition name="bpfade">

.bottmTransfrom-enter-active{
  transition: all 0.3s;
}
.bottmTransfrom-leave-active {
  transition: all 0.3s;
}
.bottmTransfrom-enter {
  transform: translateY(100%);
}
.bottmTransfrom-leave {
  transform: translateY(0);
}
.bottmTransfrom-enter-to {
  transform: translateY(0);
}
.bottmTransfrom-leave-to {
  transform: translateY(100%);
}