//common 
.mTitle {
  font-weight: 450;
}

.sTitle {
  color: #898587;
}

.inns-tag1 {
  margin-top: 3px;
  letter-spacing: 0.5px;
}

.more-i {
  transform: scale(0.8);
  font-size: 12px;
  margin-left: 2px;
  margin-right: 3px;
}

//  top
.ins-appIndex__top {
  .ins-appIndex__top_i {
    color: #898587;
    letter-spacing: 1px;
  }
}

// new
.ins-appIndex__newProducts {}

.ins-appIndex__hotActivities--List {
  .title {
    letter-spacing: 0.5px;

    i {
      margin-left: 7px;
      transform: scale(0.8);
      font-size: 12px;

    }
  }

}